{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="container mt-5 d-flex justify-content-center min-vh-100">
  <div class="row w-100">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login</h2>
          <form method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Email</label>
              <input name="username" id="username" type="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input name="password" id="password" type="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="text-center mb-2">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div class="text-center mt-2">
            <a href="/register">Register here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}